menuconfig MTD_SPI_NAND
	bool "SPI NAND device Support"
	depends on DM_MTD && DM_SPI
	select MTD_NAND_CORE
	select SPI_MEM
	help
	  This is the framework for the SPI NAND device drivers.

	config SPINAND_ESMT
	bool "Enable ESMT spi-nand detect"
	default n
	depends on MTD_SPI_NAND
	help
	  This option will enable ESMT spinand flash detection, which will
	  disable Micron spinand flash detection. If unsure, please select n
