if TARGET_X2_FPGA

config ARCH_X2
	bool
	default y

config SYS_BOARD
	default "x2_fpga"

config SYS_VENDOR
	default "hobot"

config SYS_SOC
	default "x2-fpga"

config SYS_CONFIG_NAME
	default "x2_fpga"

endif
