/*
 * dts file for Hobot X3 FPGA
 *
 * (C) Copyright 2017 - 2018, Hobot, Inc.
 *
 * yu.xing <yu.xing@hobot.cc>
 *
 * SPDX-License-Identifier:	GPL-2.0+
 */

/dts-v1/;

#include "hobot-xj3.dtsi"

/ {
	model = "Hobot X3 Fpga Board";
	compatible = "hobot,x3-fpga";

	aliases {
		serial0 = &uart0;
		spi0	= &qspi;
		gmac0 = &gmac;
		bif	= &bifsd;
		mmc0    = &sdmmc;
		mmc1   = &sd;
	};

	chosen {
		bootargs = "";
		stdout-path = "serial0:115200n8";
	};

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x0 0x0 0x80000000>;
	};

	gpio: gpio@a6003000 {
		compatible = "hobot,x2-gpio-1.0";
		status = "okay";
		#gpio-cells = <0x2>;
		reg = <0x0 0xa6003000 0x0 0x100>;
	};

	j2-leds {
		red-gpio = <62>;
		green-gpio = <61>;
	};
};

&uart0 {
	status = "okay";
};

&qspi {
	status = "okay";
	spi-max-frequency = <500000000>;
	#address-cells = <1>;
	#size-cells = <0>;

	flash0: gd25q256c@0 {
		u-boot,dm-pre-reloc;
		compatible = "spi-flash";
		reg = <0x0>;
		spi-tx-bus-width = <4>;
		spi-rx-bus-width = <4>;
		spi-max-frequency = <50000000>;
	};


	spi-nand@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "spi-nand";
		reg = <0x0>;
		spi-tx-bus-width = <4>;
		spi-rx-bus-width = <4>;
		spi-max-frequency = <50000000>;
	};

};

&gmac {
        status = "okay";
        #address-cells = <0x1>;
        #size-cells = <0x0>;
        phyaddr = <3>;

	phy-mode = "rgmii";
	phy0: ethernet-phy@0 {
		//compatible = "marvell,88E1512","ethernet-phy-ieee802.3-c22";
		compatible = "Marvell 88E1118R","ethernet-phy-ieee802.3-c22";
		reg = <0>;
	};
};
&bifsd {
	status = "okay";
	};
&sdmmc {
	status = "okay";
	};
&sd {
	status = "okay";
	};
