/*
 * dts file for Hobot X2 FPGA
 *
 * (C) Copyright 2017 - 2018, Hobot, Inc.
 *
 * yu.xing <yu.xing@hobot.cc>
 *
 * SPDX-License-Identifier:	GPL-2.0+
 */

/dts-v1/;

#include "hobot.dtsi"

/ {
	model = "Hobot X2 Soc Board";
	compatible = "hobot,x2-soc";

	aliases {
		serial0 = &uart0;
		spi0	= &qspi;
		gmac0 = &gmac;
		bif	= &bifsd;
		mmc0    = &sdmmc;
		mmc1   = &sd;
		i2c0	= &i2c0;
		i2c1	= &i2c1;
		i2c2	= &i2c2;
		i2c3	= &i2c3;
	};

	chosen {
		bootargs = "";
		stdout-path = "serial0:115200n8";
	};

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x0 0x0 0x80000000>;
	};

	gpio: gpio@a6003000 {
		compatible = "hobot,x2-gpio-1.0";
		status = "okay";
		#gpio-cells = <0x2>;
		reg = <0x0 0xa6003000 0x0 0x100>;
	};

	j2-leds {
		red-gpio = <62>;
		green-gpio = <61>;
	};
};

&uart0 {
	status = "okay";
};

&qspi {
	status = "okay";
	spi-max-frequency = <500000000>;
	#address-cells = <1>;
	#size-cells = <0>;

	nor0: gd25q256c@0 {
		u-boot,dm-pre-reloc;
		compatible = "spi-flash";
		reg = <0x0>;
		spi-tx-bus-width = <4>;
		spi-rx-bus-width = <4>;
		spi-max-frequency = <50000000>;
	};


	nand0: spi-nand@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "spi-nand";
		reg = <0x0>;
		spi-tx-bus-width = <4>;
		spi-rx-bus-width = <4>;
		spi-max-frequency = <50000000>;
	};

};

&gmac {
        status = "okay";
        #address-cells = <0x1>;
        #size-cells = <0x0>;
        phyaddr = <0>;

	phy0: ethernet-phy@0 {
		compatible = "marvell,88E1512","ethernet-phy-ieee802.3-c22";
		reg = <0>;
	};
};
&bifsd {
	status = "okay";
};
&sdmmc {
	status = "okay";
};

&i2c0 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	
	tmp75c@48 {
		reg = <0x48>;
	};

	mpq@69 {
		reg = <0x69>;
	};
};

&i2c1 {
	status = "okay";
};



&i2c2 {
	status = "okay";
};

&i2c3 {
	status = "okay";
};

&sd {
	status = "okay";
};
