/*
 * dts file for Hobot X2 FPGA
 *
 * (C) Copyright 2017 - 2018, Hobot, Inc.
 *
 * yu.xing <yu.xing@hobot.cc>
 *
 * SPDX-License-Identifier:	GPL-2.0+
 */

/dts-v1/;

#include "hobot.dtsi"

/ {
	model = "Hobot X2 FPGA Board";
	compatible = "hobot,x2-fpga";

	aliases {
		serial0 = &uart0;
		spi0	= &qspi;
		gmac0 = &gmac;
		bif	= &bifsd;
		mmc0    = &sdmmc;
	};

	chosen {
		bootargs = "";
		stdout-path = "serial0:115200n8";
	};

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x0 0x0 0x80000000>;
	};
};

&uart0 {
	status = "okay";
};

&qspi {
	status = "okay";
	xfer-mode = <0>;
	spi-max-frequency = <20000000>; /* For FPGA max clk is 20Mhz */
	#address-cells = <1>;
	#size-cells = <0>;

	flash0: gd25q256c@0 {
		u-boot,dm-pre-reloc;
		compatible = "spi-flash";
		reg = <0x0>;
		spi-tx-bus-width = <4>;
		spi-rx-bus-width = <4>;
		spi-max-frequency = <5000000>;
	};

/*
	spi-nand@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "spi-nand";
		reg = <0x0>;
		spi-tx-bus-width = <4>;
		spi-rx-bus-width = <4>;
		spi-max-frequency = <5000000>;
	};
*/

};

&gmac {
	status = "okay";
	#address-cells = <0x1>;
        #size-cells = <0x0>;
	phy0: ethernet-phy@3 {
		compatible = "marvell,88E1111","ethernet-phy-ieee802.3-c22";
		reg = <3>;
	};
};
&bifsd {
	status = "okay";
	};
&sdmmc {
	status = "okay";
	};
